body {
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* Dark blue background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

.App {
  text-align: center;
}
